* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 0 2rem;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
    align-items: center;
}
.head{
    margin-top:2rem ;
}
.nav{
    background: #D0D5DD;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    border-radius: 2.2rem;
}
.logo img{
    width: 25px;
}
.logo{
    font-weight: 600;
    font-size: 1.5rem;
}
.pg_nav a{
    padding-right: 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: #3e434e;
}
.pg_nav i{
    font-size: .7rem;
}
.btn_nav {
font-weight: 600;
font-size: 1rem;
gap: 1.2rem;
}
.btn_nav a{
    background: #175CD3;
    color: #fff ;
    padding: .7rem;
    border-radius: 1.5rem;
}
.btn_nav .white{
    background: #fff;
    color: #101828;
}
.main{
    margin-top: 5rem;
}
.trial .white{
    color: #175CD3;
}
.home_info h1{
font-size: 2.7rem;
margin-bottom: 1rem;
}
.home_info p{
    font-size: 1.3rem;
    color:#667085;
    margin-bottom: 2.5rem;
}
.trial{
    margin-bottom: 2.5rem;
}
.review{
    gap: 1rem;
}